# Specify filepatterns you want git to ignore.
debian/tmp/
debian/build/
debian/.debhelper/
debian/xed/
debian/xed-common/
debian/xed-dbg/
debian/xed-dev/
debian/xed-doc/
debian/files
debian/*.log
debian/*.substvars
