/*** BEGIN file-header ***/
void
gedit_file_browser_enum_and_flag_register_type (GTypeModule * module)
{
/*** END file-header ***/

/*** BEGIN file-production ***/
	/* Enumerations from "@filename@" */
	
/*** END file-production ***/

/*** BEGIN enumeration-production ***/
	register_@enum_name@ (module);

/*** END enumeration-production ***/

/*** BEGIN file-tail ***/
}

/*** END file-tail ***/
